body{
background-color: #ccd0d5;
}

.titulo{
    font-size: 40px;
    color:blueviolet;
}

.construtor gatinho_header{
    width: 10%;
    border-radius: 10px;
}
.constructor gatinho {
width: 10%;
border-radius: 10px;
}